**/*.iml
**/.idea
**/*.json
**/.git
**/.secrets
**/vendor
*.log
*.md
.env
.deploy
.dockerignore
.gitignore
firebase.json
firebase-debug.log
firebase-debug.log.json
firestore-debug.log
firestore-debug.log.json
ui-debug.log
ui-debug.log.json