**/*.iml
**/.idea
**/.git
**/.secrets
**/vendor
*.log
.env
.deploy
.dockerignore
.gitignore
firestore_emulator.log
firebase-debug.log
firebase-debug.log.json
firestore-debug.log
firestore-debug.log.json
ui-debug.log
ui-debug.log.json